main > .container {
	padding: 10px 0 70px 0;
}

.image-card {
	margin: 5px;
	padding-left: 0;
	padding-right: 0;
	width: 15rem;
}

#form-add {
	margin-left: -10px;
}

.footer {
	bottom: 0;
	left: 0;
	position: fixed;
	text-align: center;
	width: 100%;
}
