main > .container {
	padding: 10px 0 70px 0;
}

.home-text {
	margin-left: 0;
}

.basic-card {
	margin: 5px;
	padding-left: 0;
	padding-right: 0;
	width: 15rem;
}

.footer {
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
}

.img-upload {
	display: none;
}
